extends ../layout/common
block content  
    h1 View detail product
    p
        b ID : 
        span= product.id
    p
        b Name : 
        span= product.name
    p
        b Price : 
        span= product.price